

.thumb-body {

  background-color: white;
  color: #1746A2;

}

.thumb-h1 {

  color: white;
}

.thumb-h3 {

  color: white;
}

.thumb-top {

  background-color: #FD841F;
  color: white;
}

.thumb-footer {

  color: #FD841F;
}

.thumb-h3-foot {

  color: #FD841F;
}

.thumb-section {

  text-align: left;
  padding: 20px;
}




body {


  color: white;
  font-family: monospace;
  margin: 0;



}


.ina {
  color: white;
    text-decoration: none;
}
b {

  font-style: italic;

}

div {

  background-image: linear-gradient(to top right, #ec2f4b,#c471ed, #009fff);
  padding-bottom: 10px;
  color: white;

}



section {

  text-align: center;


}

h1 {
text-align: center;
margin: 0;

}
h3 {

  color: white;
}

hr {
  width: 5%;
  border-style: none;
  border-top: dotted;
  border-width: 5px

}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   padding-bottom: 0;
   color: white;
   text-align: center;


}

header {

  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding-bottom: 100%;

  color: white;
  text-align: center;

  background-image: linear-gradient( #009fff, #6e48aa, #9d50bb);

}

.thumb {

    background-color: red;


}

.tpa {

text-decoration: none;
color: white;

}

.toca {

  text-decoration: none;
  color: white;

}

.gcseheader {

  background-image: linear-gradient(#9d50bb, #009fff, #6e48aa);
  text-decoration: none;
  position: fixed;


}

.gsea {
text-decoration: none;
width: 100%;
max-width: 220px;
border-radius: 5px;
display: flex;
height: 30px;


}

.gsea
{


flex: 1;
padding: 5px 5px;
border: 0;

background: white;
font-size: 10px;
border: transparent;
margin: transparent;

}

.gsea button img {

  width: 80px;


}

.gsea button {

  padding: 10px 12px;
  border: 0;
  outline: 0;
  background: white;
  cursor: pointer;

}

/*

*/
